<p class="text-xl text-gray-600 dark:text-gray-200 text-center">{{pageTitle}}</p>

<ng-container [ngSwitch]="mode">

    <ng-template #formErrorsIcon>
        <div class="bg-red-200 text-red-700 rounded-full p-1 fill-current mr-3 w-min inline-block transform translate-y-2">
            <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
        </div>
    </ng-template>
    
    <ng-container *ngSwitchCase="'resetPassword'">

        <p class="text-center mt-2 mb-5">Verifica dell'email completata! Ora puoi impostare una nuova password.</p>

        <form [formGroup]="resetPswForm" (ngSubmit)="resetPassword()">

            <div class="mt-4 w-full flex">
                <input
                    formControlName="password" id="password" [type]="hide ? 'password' : 'text'" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{0,30}$" required="required" placeholder="Password" aria-label="Password"
                    class="dark:text-gray-200 w-full mt-2 py-2 px-4 bg-white dark:bg-black-800 text-gray-700 border border-gray-300 dark:border-gray-600 rounded-l block placeholder-gray-500 dark:placeholder-gray-400 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                <span (click)="hide = !hide" class="cursor-pointer transition duration-200 dark:text-gray-500 dark:hover:text-gray-200 w-max mt-2 py-2 px-4 bg-white dark:bg-black-800 text-gray-700 border border-gray-300 dark:border-gray-600 rounded-r block">
                    <i-bs class="block" [name]="hide ? 'eye-fill' : 'eye-slash-fill'" width="1.25rem" height="1.25rem" style="margin-top: 0.15rem;"></i-bs>
                </span>    
            </div>

            <div class="mt-4 w-full flex">
                <input
                    formControlName="passwordConfirm" id="passwordConfirm" [type]="hide ? 'password' : 'text'" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{0,30}$" required="required" placeholder="Conferma la Password" aria-label="Confirm Password"
                    class="dark:text-gray-200 w-full mt-2 py-2 px-4 bg-white dark:bg-black-800 text-gray-700 border border-gray-300 dark:border-gray-600 rounded-l block placeholder-gray-500 dark:placeholder-gray-400 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                <span (click)="hide = !hide" class="cursor-pointer transition duration-200 dark:text-gray-500 dark:hover:text-gray-200 w-max mt-2 py-2 px-4 bg-white dark:bg-black-800 text-gray-700 border border-gray-300 dark:border-gray-600 rounded-r block">
                    <i-bs class="block" [name]="hide ? 'eye-fill' : 'eye-slash-fill'" width="1.25rem" height="1.25rem" style="margin-top: 0.15rem;"></i-bs>
                </span>    
            </div>

            <!-- <div class="mt-4 w-full">
                <input
                    formControlName="password" id="password" type="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{0,30}$" required="required" placeholder="Password" aria-label="Password"
                    class="dark:text-gray-200 w-full mt-2 py-2 px-4 bg-white dark:bg-black-800 text-gray-700 border border-gray-300 dark:border-gray-600 rounded block placeholder-gray-500 dark:placeholder-gray-400 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
            </div> -->
            
            <!-- <div class="mt-4 w-full">
                <input
                    formControlName="passwordConfirm" id="passwordConfirm" type="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{0,30}$" required="required" placeholder="Conferma la Password" aria-label="Confirm Password"
                    class="dark:text-gray-200 w-full mt-2 py-2 px-4 bg-white dark:bg-black-800 text-gray-700 border border-gray-300 dark:border-gray-600 rounded block placeholder-gray-500 dark:placeholder-gray-400 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
            </div> -->

            <ng-container *ngIf="resetPswForm.controls.password.touched && resetPswForm.controls.password.invalid">
                <span class="font-medium text-sm text-red-400 my-5 block">
                    <ng-container *ngIf="resetPswForm.controls.password.invalid && !resetPswForm.controls.password.errors?.pattern">
                        <ng-container *ngTemplateOutlet="formErrorsIcon"></ng-container>
                        {{ getPasswErrMsg() }}
                    </ng-container>
                    <ng-container *ngIf="resetPswForm.controls.password.errors?.pattern">
                        <ng-container *ngTemplateOutlet="formErrorsIcon"></ng-container>
                        La password deve contenere almeno una lettera maiuscola, una minuscola e un numero.
                    </ng-container>
                </span>
            </ng-container>

            <ng-container *ngIf="resetPswForm.controls.passwordConfirm.touched && resetPswForm.controls.password.value !== resetPswForm.controls.passwordConfirm.value">
                <span class="font-medium text-sm text-red-400 my-5 block">
                    <ng-container *ngIf="resetPswForm.controls.password.value !== resetPswForm.controls.passwordConfirm.value">
                        <ng-container *ngTemplateOutlet="formErrorsIcon"></ng-container>
                        Le Password inserite non corrispondono.
                    </ng-container>
                </span>
            </ng-container>

            <div class="mt-4">
                <button
                    type="submit"
                    [disabled]="!canResetPsw()"
                    class="btn primary w-full"
                >
                    Reimposta la Password
                </button>
            </div>

        </form>
        
    </ng-container>

    <ng-container *ngSwitchCase="'verifyEmailCode'">
        <p class="text-center mt-2 mb-5">
            Il link è stato inviato, l'invio può richiedere fino a 2 minuti. Controlla la tua casella di Posta Elettronica. Se non ti è arrivato, controlla lo Spam o attendi 2 minuti e poi clicca su "Invia Codice".
        </p>

        <ng-container *ngIf="serverErrMessage">
            <span class="font-medium text-sm text-red-400 my-5 block">
                <ng-container *ngTemplateOutlet="formErrorsIcon"></ng-container>
                {{ serverErrMessage }}
            </span>
        </ng-container>

        <div class="flex justify-between items-center mt-10">
            <button
                type="button"
                routerLink="/auth/login"
                class="btn secondary"
            >
                Torna al Login
            </button>

            <button
                type="button"
                (click)="sendAnotherLink()"
                [disabled]="sendAnotherLinkBtnDisabled"
                class="btn primary"
            >
                {{ sendAnotherLinkBtnDisabled ? 'Attendi ' + timePassing + 's...' : 'Invia Codice' }}
            </button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'verifyEmail'">
        <p class="text-center mt-2 mb-5">Conferma la tua email! Ti invieremo un link per impostare una nuova password.</p>

        <form [formGroup]="verifyEmail">
            <div class="mt-4 w-full">
                <input
                    formControlName="verifyEmailInput" type="email" id="email" placeholder="Indirizzo Email" required="required" aria-label="Email Address"
                    class="dark:text-gray-200 w-full mt-2 py-2 px-4 bg-white dark:bg-black-800 text-gray-700 border border-gray-300 dark:border-gray-600 rounded block placeholder-gray-500 dark:placeholder-gray-400 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
            </div>

            <ng-container *ngIf="verifyEmail.controls.verifyEmailInput.touched && verifyEmail.controls.verifyEmailInput.invalid">
                <span class="font-medium text-sm text-red-400 my-5 block">
                    <ng-container *ngTemplateOutlet="formErrorsIcon"></ng-container>
                    {{ getEmailErrMsg() }}
                </span>
            </ng-container>

            <ng-container *ngIf="serverErrMessage">
                <span class="font-medium text-sm text-red-400 my-5 block">
                    <ng-container *ngTemplateOutlet="formErrorsIcon"></ng-container>
                    {{ serverErrMessage }}
                </span>
            </ng-container>
            
            <div class="flex justify-between items-center mt-10">
                <button
                    type="button"
                    routerLink="/auth/login"
                    class="btn secondary"
                >
                    Torna al Login
                </button>

                <button
                    type="submit"
                    (click)="sendResPswEmail()"
                    [disabled]="!verifyEmail.controls.verifyEmailInput.valid"
                    class="btn primary"
                >
                    Verifica l'Email
                </button>
            </div>
        </form>


    </ng-container>

    <ng-container *ngSwitchDefault>
        <span class="font-medium text-sm text-red-400 my-5 block">
            <ng-container *ngTemplateOutlet="formErrorsIcon"></ng-container>
            Errore sconosciuto. Verifica la tua connessione e ricarica la pagina. Contatta l'assistenza se il problema persiste.
        </span>
    </ng-container>

</ng-container>