<div class="relative flow-root px-6" [ngClass]="{
    'h-full max-h-96 overflow-y-auto': feedItems && feedItems.length >= 6
}">
    <ul class="-mb-8">
        
        <li *ngFor="let item of feedItems; let last = last">
            <div class="relative pb-8">
                <span *ngIf="!last" class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-600" aria-hidden="true"></span>
                <div class="relative flex items-center space-x-3">
                    <div>
                        <span
                            [ngClass]="{
                                'bg-red-500': item.type === 'error',
                                'bg-green-500': item.type === 'success' || item.type === 'new_user',
                                'bg-yellow-500': item.type === 'updated_user',
                                'bg-gray-500': item.type === 'unknown'
                            }"
                            class="h-8 w-8 rounded-full text-white flex items-center justify-center ring-8 ring-black-800"
                        >
                            <i-bs [name]="getIconName(item.type)" width="1.25rem" height="1.25rem"></i-bs>
                        </span>
                    </div>
                    <div class="min-w-0 flex-1 flex justify-between space-x-4">
                        <div class="group max-w-md flex-1 relative" [class.cursor-pointer]="item.desc">
                            <p class="text-sm clamp-feed-item">{{item.title}}</p>
                            <div *ngIf="item.desc" class="flex flex-row" [class.space-x-4]="item.link">
                                <p class="text-sm text-gray-500 w-full max-w-full truncate relative flex-1">
                                    {{item.desc}}
                                </p>
                                <a *ngIf="item.link" [href]="item.link" target="_blank" class="text-sm w-min text-blue-400 inline-flex item-center justify-center">
                                    Info
                                    <i-bs name="arrow-right-short" width="0.95rem" height="0.95rem" class="mt-0.5"></i-bs>
                                </a>
                            </div>
                            <div *ngIf="item.desc" class="opacity-0 group-hover:opacity-100 max-w-sm z-10 absolute top-11 left-0 bg-black-900 shadow-lg rounded-md px-4 py-4 pointer-events-none">
                                <p class="text-sm text-gray-200 pb-2">
                                    {{item.title}}
                                </p>
                                <p class="text-sm text-gray-400 border-t border-gray-700 pt-2">
                                    {{item.desc}}
                                </p>
                            </div>
                        </div>
                        <div class="text-right text-sm whitespace-nowrap">
                            <time [attr.datetime]="item.date | date:'yyyy-MM-d'">{{item.date | date:'MMM d'}}</time>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</div>
