<div
	*ngIf="!hide && day"
	[ngClass]="{
		'fixed sm:absolute': fixed,
		'block relative': !fixed
	}"
	class="fixed z-10 w-full top-0 left-0 overflow-hidden block min-h-screen"
>
	<div
		*ngIf="fixed"
		[ngClass]="{
			'show-workout-modal': show && !preview,
			'hide-workout-modal': !show && !preview
		}"
		(click)="closeModal()"
		class="hide-workout-modal transition-all ease-in-out duration-700 absolute w-full h-full top-0 left-0 bg-black-900 bg-opacity-60 show-workout-modal"
		style="backdrop-filter: blur(5px) !important;"
	></div>

	<div
		[ngClass]="{
			'show-workout-modal': show && !preview,
			'hide-workout-modal': !show && !preview,
			'relative': !fixed,
			'absolute bottom-0 md:top-1/2 md:bottom-auto md:left-1/2 md:transform md:-translate-x-1/2 md:-translate-y-1/2 origin-bottom': fixed
		}"
		class="hide-workout-modal panel bg-black-800 w-full max-w-full overflow-hidden md:pb-0 rounded-t-lg md:rounded-t-md md:rounded-md md:max-w-lg h-max"
		role="dialog" aria-modal="true"
	>
		<app-headbar [title]="day.exDayName" [completed]="!!day.completed" [preview]="preview" (closeEvent)="closeModal()"></app-headbar>
		<div class="relative overflow-y-auto h-full max-w-full scroller" style="max-height: 75vh;">
			<app-header [description]="day.exDayDesc || ''"></app-header>
			<app-round
				[isToday]="day.selected"
				[rounds]="getExercises"
				(showVimeo)="vimeo = $event"
				(completeEx)="completeEx($event)"
			></app-round>
		</div>
	</div>
</div>

<app-vimeo-player [show]="vimeo.show" [url]="vimeo.url" (onShow)="vimeo.show = $event"></app-vimeo-player>